/* Add specific spacing for first blog-entry */
.BlogList:first-child {
  padding-top: 18px;
}

.blog-entry {
  padding-left: 18px;
  padding-right: 18px;
}

.blog-date {
  width: 25%;
  height: 50px;
  margin: auto;
}

.blog-link {
  width: 75%;
}
