@media (min-width: 768px) {
  .two-col.mosaic {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    -moz-column-count: 2;
    -moz-column-gap: 18px;
    -webkit-column-count: 2;
    -webkit-column-gap: 18px;
    column-count: 2;
    column-gap: 18px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .two-col.mosaic {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    -moz-column-count: 1;
    -moz-column-gap: 18px;
    -webkit-column-count: 1;
    -webkit-column-gap: 18px;
    column-count: 1;
    column-gap: 18px;
    width: 100%;
  }
}

.mosaic div {
  -mozila-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

.main {
  max-width: 65em;
  margin: auto;
}

.navbar {
  margin-bottom: 0px;
}

footer {
  padding-top: 30px;
}

.external-links {
  text-align: center;
}

.external-link-image {
  padding: 10px;
}

.blog-side-image {
  float: right;
}

.blog-side-image img {
  width: 200px;
  margin: 15px;
  border-radius: 15px;
}

.blog-side-image .image-caption {
  text-align: center;
}
