@media (min-width: 768px) {
  body {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 166px;
  }
}

.main {
  max-width: 65em;
  margin: auto;
}

footer {
  padding-top: 30px;
}

.external-links {
  text-align: center;
}

.external-link-image {
  padding: 10px;
}

.blog-side-image {
  float: right;
}

.blog-side-image img {
  width: 200px;
  margin: 15px;
  border-radius: 15px;
}

.blog-side-image .image-caption {
  text-align: center;
}
