.project-heading {
  width: 100%;
  text-align: center;
}

.log-entry {
  padding: 18px 18px;
  padding-bottom: 0px;
}

.log-link {
  padding: 18px;
}

.log-link h3 {
  margin: 0px;
}

.panel-title {
  display: inline-block;
}

.panel-title-image {
  padding-right: 10px;
  color: white;
}
