<!DOCTYPE html>
<html data-wrap="html">
<head>
  <title class="page title"></title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/pocketgrid.min.css" rel="stylesheet" />
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <a class="navbar-brand" href="/">TBSliver</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/blog"><i class="fa fa-newspaper-o"></i> Blog</a></li>
        <li><a href="/about"><i class="fa fa-shield"></i> About</a></li>
      </ul>
    </div>

  </nav>
  
  <main class="main block-group">
    <div data-replace="content-of: body"></div>
  </main>

  <footer>
    <div class="container">
      <div class="external-links">
        <p class="text-muted">
          <a href="https://github.com/TBSliver" target="_blank"><i class="external-link-image fa fa-github fa-4x"></i></a>
          <a href="http://tbsliver.me/feed/blog/index.atom" target="_blank"><i class="external-link-image fa fa-rss fa-4x"></i></a>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
